@import url('https://fonts.cdnfonts.com/css/futura-pt');

.banner-pictures {
    background-image: linear-gradient(transparent, black), url('https://images5.alphacoders.com/712/712443.png');
    width: 100%;
    background-size: cover;
    height: 600px;
    position: relative;
    z-index: 0;
}

.text {
    width: 100%;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Futura PT', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    background: none;
}