@import url('https://fonts.cdnfonts.com/css/futura-pt');

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: black;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    transition: .5s;
    font-family: 'Futura PT', sans-serif;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 30px;
}    

li:hover {
    color: #ff6600
}

.logo {
    background: none;
    height: auto;
}

.bf1 {
    width: 450px;
}

@media(max-width: 768px){
    nav {
        display: none;
        width: 100%;
        padding-right: 0;
    }

    header {
        justify-content: space-around;
    }
}